html,body
{

    
    background: #0C0B0B;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    scroll-behavior: smooth;
      
}
.animacion:hover{
    cursor: pointer;
    transition: 1s;
    border:  2px solid #E4C27B;
    }
.titulo{
font-family: league-gothic, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 140px;
line-height: 170px;
color: #E4C27B;
}
/** Paquetes **/
#linea{
    height: 3px;
    background: #e4c27b;
}
.subtitulo{
    font-family: league-gothic, sans-serif;
    font-size:45px ;
    color: white;
}

.one {
    height: 3px;
    background: #e4c27b;
    display: block;
    width: 89%;
    margin: 5px auto;
}

.one:hover {
    cursor: pointer;
    transition: 1s;
    background: white;
    height: 3px;
    display: block;
    width: 1px;
    margin: 5px auto;
}

.two {
    height: 3px;
    background: #e4c27b;
    display: block;
    width: 55%;
    margin: 18px auto;
}

.two:hover {
    cursor: pointer;
    transition: 1s;
    background: white;
    height: 3px;
    display: block;
    width: 1px;
    margin: 5px auto;
}
.three {
    margin: 18px auto;
    height: 3px;
    background: #e4c27b;
    width: 35%;
}
.three:hover {
    cursor: pointer;
    transition: 1s;
    background: white;
    height: 3px;
    display: block;
    width: 1px;
    margin: 5px auto;
}
.four {
    height: 3px;
    background: #e4c27b;
    display: block;
    width: 89%;
    margin: 5px auto;
}
.four:hover {
    cursor: pointer;
    transition: 1s;
    background: white;
    height: 3px;
    display: block;
    width: 1px;
    margin: 5px auto;
}
.five {
    height: 3px;
    background: #e4c27b;
    display: block;
    width: 55%;
    margin: 18px auto;
}
.five:hover {
    cursor: pointer;
    transition: 1s;
    background: white;
    height: 3px;
    display: block;
    width: 1px;
    margin: 5px auto;
}
.six {
    margin: 18px auto;
    height: 3px;
    background: #e4c27b;
    width: 35%;
}
.six:hover {
    cursor: pointer;
    transition: 1s;
    background: white;
    height: 3px;
    display: block;
    width: 1px;
    margin: 5px auto;
}
.bloque{
    
    font-family: league-gothic, sans-serif;
    font-size:45px ;
    color: white;
}

#linea-vertical{
    height: 99%;
width: 3px;
background: #e4c27b;
position: absolute;
left: 50%;
}
#horizontal{
   background:  #e4c27b;
   position: relative;
   top: -18px;
   border-top: 3px solid rgba(0,0,0,.1);
}

#logo{
    width: 15%;
}
/*Menu*/
.titulo-menu{

    color: white;
}
.Titulo-general{
    margin-left: 45%;
}

.platillo{
color: white;
font-size: 26px;
}

.precio{
    color: #e4c27b;
    font-size: 32px;
}
#especialidades{
    width: 100%;
    display: inline-block;
}
/*Reservaciones*/
#wrapper {
    display: grid;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
  
  header {
    padding: 1em;
  }
  
  main {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(5, 200px);
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  
  .column {
    align-items: stretch;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    border-right: 4px solid #e4c27b;
  }

  .horario{
    display: inline-block;
    width: 40%;
  }

  #sabado{
    position: relative;
    color: white;
    font-size: 25px;
    border-bottom: 2px solid #e4c27b;
    padding-bottom: 4px;
  }

  #logo-reservaciones{
    width: 18%;
    margin-top: -10%;
    margin-left: 6px;
    margin-right: 6px;
  }

  #domingo{
    position: relative;
    color: white;
    font-size: 25px;
    border-bottom: 2px solid #e4c27b;
    padding-bottom: 4px;
  }

  div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #e4c27b;
    color: black;
  }
  div.column__content li:hover {
    background-color: #e4c27b;
    color: black;
    cursor: pointer;
  }

  #reserva-braham{
      text-align: center;
  }
  
  .column header {
  color: white;
  text-align: center;
  }
  
  .column__content {
    
    padding: 0 .5em;
  }

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    color: white;
}

#caja{
    display: contents;
}
#caja-img{
    position: absolute;
    width: 38%;
    margin-left: 4%;
    border: 4px solid #e4c27b;
    border-radius: 8%;
}
#caja-2{
    display: contents;
}
#caja-img-2{
    position: absolute;
    width: 38%;
    margin-left: 4%;
    border: 4px solid #e4c27b;
    border-radius: 8%;
}
#img-tamaño{
    width: 38%;
    margin-right: 2%;
    margin-bottom: 4%;
    border: 4px solid #e4c27b;
    border-radius: 8%;
    position: relative;
}
#img-tamaño-2{
    width: 38%;
    margin-left: 2%;
    border: 4px solid #e4c27b;
    border-radius: 8%;
    position: relative;
}
/* CONTACTO */

.form-control{

    border: transparent !important;
    border-bottom:2px solid #e4c27b !important;
    background-color:transparent !important; 
    }
    
    .btn{
        border-radius: 25px !important;
        background: #E4C27B !important;
        border: 1px solid #E4C27B ;
        transition: all 1s ease;
        color: white;
        
    }

    .reglatext{
        font-family: league-gothic, sans-serif;
        font-size: 30px;
    }